#hhb_holder {
	position: absolute;
	width: 100%%;
	height: 300px;
	overflow: hidden;
	padding: 5px;
	bottom: 0px;
	background-color: hsla(0,0%,0%,0.9);
}
#hhb_header {
	font-size: 26px;
	font-weight: bold;
	text-transform: none;
	text-align: right;
	color: #EEEEEE;
}
#hhb_header .icon {
	margin: 0px 5px 0px 0px;
	float: left;
	border: 0px;
	width: 24px;
	height: 24px;
}
#hhb_header .icon.fb {
	background: url('http://hihiboxhbtv.github.io/images/fb.png') no-repeat center;
}
#hhb_header .icon.hhb {
	background: url('http://hihiboxhbtv.github.io/images/hhb.png') no-repeat center;
}
#hhb_genre {
	padding-bottom: 2px;
	width: 100%;
	font-size: 12px;
	border-top: 1px solid #EEEEEE;
}
#hhb_genre .genre {
	margin: 2px 2px 2px 2px;
	padding: 3px;
	display: inline-block;
	padding: 3px;
	cursor: pointer;
	color: #CCCCCC;
	background-color: #333333;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#hhb_genre .genre:hover {
	color: #333333;
	background-color: #FFFFFF;
}
#hhb_genre .genre.active {
	color: #333333;
	background-color: #EEEEEE;
}

#hhb_iconset {
	overflow: scroll;
	height: 240px;
	border-top: 1px solid #EEEEEE;
	padding-bottom: 30px;
}
#hhb_iconset .icon {
	display: inline-block;
	margin: 1px;
	padding: 2px;
	cursor: pointer;
}
#hhb_iconset .icon img {
	max-width: 50px;
}
#hhb_iconset .icon.hhb-filter-not-match {
	display: none !important;
}

#hhb_iconset .icon.hhb-filter-match {
	display: inline-block !important;
}
#hhb_iconset .icon.hhb-filter-selected,
#hhb_iconset .icon:hover {
	background-color: rgba(0, 255, 255, 0.5);
	border: 1px solid #EEEEEE;
	margin: 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.hhb_msgicon {
	cursor: pointer;
}
.hhb_msgicon.orgSize {
	width: 100% !important;
}

#hhb_button {
	background: url('http://hihiboxhbtv.github.io/images/sosad.png') no-repeat center;
	top: 2.5em;
	width: 22px;
	height: 22px;
}
#hhb_button:hover {
	background: url('http://hihiboxhbtv.github.io/images/sosad_hover.png') no-repeat center;
}
#hhb_button:before {
	content: initial;
}