
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('./font/fontello.svg?22224065#fontello') format('svg');
  }
}

.icon-sun:before { content: '\e800'; } /* '–G' */
.icon-sun-filled:before { content: '\e801'; } /* '–H' */
.icon-popup:before { content: '\e802'; } /* '–I' */
.icon-heart:before { content: '\e803'; } /* '–J' */
.icon-heart-empty:before { content: '\e804'; } /* '–K' */
.icon-popup-1:before { content: '\e805'; } /* '–L' */
.icon-download:before { content: '\e806'; } /* '–M' */
.icon-upload:before { content: '\e807'; } /* '–N' */
.icon-plus:before { content: '\e808'; } /* '–O' */
.icon-spin3:before { content: '\e809'; } /* '–P' */
.icon-search:before { content: '\e80a'; } /* '–Q' */
.icon-cog:before { content: '\e80b'; } /* '–R' */
.icon-help:before { content: '\e80c'; } /* '–S' */
.icon-info:before { content: '\e80d'; } /* '–T' */
.icon-cancel:before { content: '\e80e'; } /* '–U' */
.icon-code:before { content: '\e80f'; } /* '–V' */
.icon-resize-full:before { content: '\e811'; } /* '–X' */