@import "darkmode.css";

#hhb_holder {
	position: absolute;
	width: 100%%;
	height: 300px;
	overflow: hidden;
	padding: 5px;
	bottom: 0px;
	background-color: hsla(0,0%,0%,0.9);
}
#hhb_header {
	font-size: 26px;
	text-align: right;
	color: #EEEEEE;
}
#hhb_header .icon {
	margin: 0px 5px 0px 0px;
	float: left;
	border: 0px;
	width: 24px;
	height: 24px;
	cursor: pointer;
<<<<<<< HEAD:css/hihibox.css
=======
	font-size: 12px;
}
#hhb_darkmode {
	margin: 0px 6px 0px 0px;
	padding: 5px;
	float: left;
	cursor: pointer;
	font-size: 12px;
	cursor: pointer;
	background-color: #333333;
	color: #CCCCCC;
	-moz-border-radius: 5px;
	border-radius: 5px;
>>>>>>> ebe5fb4e43de61a820e417f44e75cd315ce45f51:core/css/hihibox.css
}
#hhb_header .icon.fb {
	background: url('http://hihiboxhbtv.github.io/images/fb.png') no-repeat center;
}
#hhb_header .icon.hhb {
	background: url('http://hihiboxhbtv.github.io/images/hhb.png') no-repeat center;
}
#hhb_header span.name {
	font-weight: bold;
	text-transform: none;
	cursor: pointer;
}
#hhb_header span.version {
	margin-left: 5px;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}
#hhb_genre {
	padding-bottom: 2px;
	width: 100%;
	font-size: 12px;
	border-top: 1px solid #EEEEEE;
}
#hhb_genre .genre {
	margin: 2px 2px 2px 2px;
	padding: 3px;
	display: inline-block;
	padding: 3px;
	cursor: pointer;
	color: #CCCCCC;
	background-color: #333333;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#hhb_genre .genre:hover {
	color: #333333;
	background-color: #FFFFFF;
}
#hhb_genre .genre.active {
	color: #333333;
	background-color: #EEEEEE;
}

#hhb_iconset::-webkit-scrollbar {
	width: 8px !important;
}
#hhb_iconset::-webkit-scrollbar-track {
	background-color: hsla(0,0%,0%,0);
}
#hhb_iconset::-webkit-scrollbar-thumb {
	background-color: hsl(0,0%,40%);
}
#hhb_iconset::-webkit-scrollbar-button {
	height: 0px;
}
#hhb_iconset::-webkit-scrollbar-corner {
	background-color: black;
}
#hhb_iconset {
	overflow: scroll;
	height: 237px;
	border-top: 1px solid #EEEEEE;
	padding-bottom: 30px;
}
#hhb_iconset .icon {
	display: inline-block;
	margin: 1px;
	padding: 2px;
	cursor: pointer;
}
#hhb_iconset .icon img {
	max-height: 50px;
}
#hhb_iconset .icon.hhb-filter-not-match {
	display: none !important;
}

#hhb_iconset .icon.hhb-filter-match {
	display: inline-block !important;
}
#hhb_iconset .icon.hhb-filter-selected,
#hhb_iconset .icon:hover {
	background-color: rgba(0, 255, 255, 0.5);
	border: 1px solid #EEEEEE;
	margin: 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.hhb_chatBody.chatBody li span {
	vertical-align: text-bottom;
}
.hhb_msgicon {
	cursor: pointer;
}
.hhb_msgicon.org_size {
	width: 100% !important;
	height: auto !important;
}

#hhb_button {
	background: url('http://hihiboxhbtv.github.io/images/sosad.png') no-repeat center;
	top: 2.5em;
	width: 22px;
	height: 22px;
}
#hhb_button:hover {
	background: url('http://hihiboxhbtv.github.io/images/sosad_hover.png') no-repeat center;
}
#hhb_button:before {
	content: initial;
}